.navbar{
  // display: flex;
  // background-color: antiquewhite;
  // justify-content: center;
  // align-items: center;
  .logoArea{
    // width: 250px;
    // display: flex;
    // align-items: center;
    height: 100%;
  }
  // .linkArea{
  //   flex: 1;
  // }
  // .loginArea{
  //   width: 250px;
  // }
}

.flexAlignColCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}