.navBar {
  max-width: 1440px;
  margin: 0 auto;
}

.logoArea {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navArea {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnArea {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.writeBtn {
  margin-right: 12px;
}