.articleDetail {
  background-color: #fff;
  position: relative;
  padding: 1.667rem 2.33rem;
  margin-top: 1.8rem;
  z-index: 1;
  border-radius: 4px;
  box-sizing: border-box;

  .articleTitle {
    margin: 0 0 1.667rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.31;
    color: #252933;
  }

  // .articleCover {
  //   height: 450px;
  //   position: relative;
  //   -o-object-fit: cover;
  //   object-fit: cover;
  //   margin-bottom: 2rem;
  // }

  .authInfoBlock {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;

    .avatarLink {
      margin-right: 1rem;
    }

    .avatar {
      border-radius: 50%;
    }

    .authorInfoBox {
      display: flex;
      flex-direction: column;

      .authorName {
        display: inline-block;
        width: 100%;
        font-size: 1.1rem;
        font-weight: 500;
        color: #515767;
        line-height: 2rem;
      }

      .metaBox {
        font-size: 1rem;
        color: #8a919f;
        margin-top: 2px;
        line-height: 22px;

        .time {
          letter-spacing: 1px;
        }

        .viewsCount {}
      }
    }


  }

  .articleContent {}


}

.commentContainer {
  background-color: #fff;
  padding: 1.667rem 2.33rem;
  margin-top: 1.67rem;

  .commentForm {
    display: flex;
    position: relative;
    padding-top: 2rem;
    border-radius: 2px;
    flex-direction: column;

    .commentFormHead {
      font-size: 18px;
      line-height: 30px;
      font-weight: 600;
      color: #252933;
      margin-bottom: 2rem;
    }

    .commentContent {
      display: flex;
      align-items: flex-start;

      .avatarBox {
        flex: 0 0 auto;
        // width: 40px;
        // height: 40px;
        // border-radius: 50%;
        margin-right: 16px;
        // overflow: hidden;
      }

      .commentInput {
        flex: 1 1 auto;
        position: relative;
      }


    }

    .publishBtn {
      width: 10%;
      margin-top: .6rem;
    }
  }

  .commentList {
    padding-top: 32px;

    .listTitle {
      position: relative;
      padding-bottom: 8px;
      font-weight: 600;
      font-size: 18px;
      color: #252933;
      width: 100%;
      display: flex;
      align-items: center;
      line-height: 30px;
    }

    .listWrapper {
      .listItem {
        display: flex;
        padding: 16px 0;

        .userPopover {}

        .commentContent {
          flex: 1 1 auto;
          margin-left: 16px;

          .commentUser {
            display: flex;
            justify-content: space-between;
          }

          .commentText {
            margin-top: 8px;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}